<h1>Update Restaurant Here:</h1>

<%form_for @restaurant do |f|%>
<%=%>


<%# 
- a text input for the name (with the current name already displayed)
- a text input for the address (with the current address value displayed)
- a list of Pizzas, with a checkbox for each one
- a submit button

The update action should create associations for each of the Pizzas the user selected.

When the form saves, the user should be redirected to the Restaurant show page.

The Restaurant show page should show a link to this edit page. %>